<ion-view>
  <ion-nav-title> <button class="button" style="background-color:rgba(0,0,0,0)"  ng-click="go_to_home()">
    <div class="back">
      <img class="pil" src="img/triangular-arrow-ar.png" />
    </div>
  </button>
    <img class="title-image2" src="img/logoFinal.png" />
  </ion-nav-title>
  <ion-content>
    <h3 class="title">GEMENSAMMA UTRYMMEN</h3><br>
    <div ng-repeat="facility in facilities" width="100%">
      <div  class="my-col-50">

        <button class="button" style="background-color:rgba(0,0,0,0);" ng-click="openDatePicker(facility.id)">
        <div class="cards" style="width: 130px; height: 130px">
          <div class="tag" ng-if="facility.count"><h6 class="bookcount">{{facility.count}}</h6></div>
          <img class="faci" src="img/facilityicon.png">
          <h5 class="obook"> {{facility.name}}</h5>
        </div>
        </button>
      </div>
      </div>
  </ion-content>
</ion-view>
