<ion-view cache-view="false">
  <ion-nav-title>
    <img class="title-image3" src="img/logoFinal.png" />
      <button class="button button-clear button-positive" ng-click="handleSignOutBtnClick()"> <div class="signout">
        <img class="close" src="img/icon-close.png" />
      </div></button>
  </ion-nav-title>
  <ion-content>
    <div class="contact">
    <div class="space">
      <br>
      <h3 class="title">{{buildings.name}}</h3><br>
    </div>
      <div  class="my-col-33">
        <button class="button" style="background-color:rgba(0,0,0,0)" ng-click="go_to_news()">
          <div class="cards" style="width: 100px; height: 135px">
            <img class="faci2" src="img/nyheter.png">
            <h5 class="obook"> Nyheter </h5>
          </div>
        </button>
      </div>
    <div  class="my-col-33">
      <button class="button" style="background-color:rgba(0,0,0,0);" ng-click="go_to_faci()">
        <div class="cards" style="width: 100px; height: 135px">
          <img class="faci2" src="img/bokning.png">
          <h5 class="obook"> Boka </h5>
        </div>
      </button>
    </div>
    <div  class="my-col-33">
      <button class="button" style="background-color:rgba(0,0,0,0)" ng-click="go_to_el()">
        <div class="cards" style="width: 100px; height: 135px">
          <div class="tag" ng-if="buildings.count"><h6 class="bookcount">{{buildings.count}}</h6></div>
          <img class="faci2" src="img/elforbrukning.png">
          <h5 class="obook"> Bokningar </h5>
        </div>
      </button>
    </div>
    <div  class="my-col-33">
      <button class="button" style="background-color:rgba(0,0,0,0)" ng-click="go_to_info()">
        <div class="cards" style="width: 100px; height: 135px">
          <img class="faci2" src="img/information.png">
          <h5 class="obook"> Information </h5>
        </div>
      </button>
    </div>
    <!-- <div  class="my-col-33">
      <button class="button" style="background-color:rgba(0,0,0,0)" ng-click="go_to_fel()">
        <div class="cards" style="width: 100px; height: 135px">
          <img class="faci2" src="img/felanmalan.png">
          <h5 class="obook"> Felanmälan </h5>
        </div>
      </button>
    </div>
    <div  class="my-col-33">
      <button class="button" style="background-color:rgba(0,0,0,0)"   ng-click="go_to_doc()">
        <div class="cards" style="width: 100px; height: 135px">
          <img class="faci2" src="img/dokument.png">
          <h5 class="obook"> Dokument </h5>
        </div>
      </button>
    </div> -->
    </div>
  </ion-content>
</ion-view>
