<ion-view class="user" title='<img class="title-image" src="img/logoFinal.png" />'>
  <ion-content class="padding">
    <h3 class="title">Välkommen till Building Blockz</h3>
    <br>
    <div ng-if="errors" ng-repeat="error in errors">
      <p>{{error}}</p>
    </div>
    <div class="list" ng-hide="!register">
      <label class="item item-input">
        <input type="email" name="email" ng-model="loginData.email" placeholder="Email" />
      </label>
      <label class="item item-input">
        <input type="password" name="password" ng-model="loginData.password"  placeholder="Lösenord" />
      </label>
      <button type="submit" class="button button-full button-light" ng-click="handleLgnBtnClick()">Logga in</button>
    </div>
  </ion-content>
</ion-view>
