<ion-view>
  <ion-nav-title> <button class="button" style="background-color:rgba(0,0,0,0)"  ng-click="go_to_home()">
    <div class="back">
      <img class="pil" src="img/triangular-arrow-ar.png" />
    </div>
  </button>
    <img class="title-image2" src="img/logoFinal.png" />
  </ion-nav-title>
  <ion-content>
    <h3 class="title">Din bokningar</h3><br>
    <div ng-repeat="timelists in timelists">
      <div class="list card">
        <div class="item item-divider">
         {{timelists.name}}
        </div>
        <div class="item item-text-wrap">
          {{timelists.start_time}} - {{timelists.end_time}}
        </br>
          <button class="button icon ion-close-circled" style="background-color:rgba(0,255,255,1); color: #fff; width: 5%; height: 5%"; ng-click="delete(timelists.id, timelists.idb)">
          </button>
      </div>
      </div>
      </div>
  </ion-content>
</ion-view>
