<ion-view>
  <ion-nav-title> <button class="button" style="background-color:rgba(0,0,0,0)"  ng-click="go_to_faci()">
      <div class="back">
        <img class="pil" src="img/triangular-arrow-ar.png" />
      </div>
    </button>
      <img class="title-image2" src="img/logoFinal.png" />
    </ion-nav-title>
  <ion-content class="book">
    <div class="desc">
      <h3 class="title" style="color: #000;">{{facilities.name}}</h3>
      <h5 class="bobe" style="color: #000;">Beskrivning</h5> <span style="color: #000;">{{facilities.description}}</span>
      <br><img src="../img/openlab{{facilities.name}}.png" style="width: 60%; height: 60%;">
      <h5 class="bobe" style="color: #000;">Regler</h5> <span style="color: #000;">{{facilities.rules}}</span>
      <p ng-if="error" style="color: #000;">{{error}}</p>
      <br>
      <p class="bobe" ng-if="message" style="color: #000;">{{messageex}}{{message}}</p>
    </div>

    <div class="list">
      <div class="item range range-positive">
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="33">
        <i class="icon ion-ios-sunny"></i>
      </div>
    </div>
    <div class="coli" ng-if="timeslots" ng-repeat="timeslot in timeslots">
      <div ng-if="timeslot.max">
        <button class="button" style="background-color:rgba(0,0,0,0); width: 113%;" ng-if="!timeslot.bookt" ng-click="openDatePicker(id, date, timeslot.start_time, timeslot.end_time)">
      <div class="unbooked">
       <h4 class="availble"> Boka </h4>
        {{date}} {{timeslot.start_time}} -
        {{timeslot.end_time}}
      </div>
      </button>
    </div>
    <div ng-if="timeslot.min">
      <div ng-if="!timeslot.bookt" >
    <div class="bookedmax">
     <h4 class="unavailblemax"> Max 3 bookings </h4>
      {{date}} {{timeslot.start_time}} -
      {{timeslot.end_time}}
    </div>
  </div>
  </div>
        <div ng-if="timeslot.bookt">
          <div class="booked">
            <h4 class="unavailble"> Bokad av {{timeslot.name}} </h4>
            {{date}} {{timeslot.start_time}} - {{timeslot.end_time}}
          </br>
            <button class="button icon ion-close-circled" style="background-color:rgba(255,255,255,0); color: #fff; width: 5%; height: 5%"; ng-click="delete(id, timeslot.ids)">
            </button>
          </div>
        </div>
      </div>
    <br>
  </ion-content>
</ion-view>
