/* Empty. Add your own CSS if you like */
::-webkit-input-placeholder {
   text-align: center;
}
.user {
  color: #FFF ;
  text-align: center;
  background: #23c1a0;
  background: linear-gradient(to bottom, #23c1a0, #34e89e);
}

.top-nav-bar {
    color: #FFF ;
    background-color: #23c1a0 ;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.index {
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.text {
    color: #23c1a0 ;
    font-size: 30px ;
    left: 0;
    position:absolute;
    text-align:center;
    top: 85px;
    font-family: 'Droid', sans-serif;
    width: 100%
}

.title-image {
  margin-top: 0px;
  height: 25px;
}

.card {
  margin-bottom: -10px !important;
  margin-right: 10px !important;
  align-content: center;
}

.obook {
  color: #23c1a0;
}


.title {
  color: #fff ;
  padding-top: 5px;
  text-align: center;
  font-family: 'Droid', sans-serif;
}

.title-black {
  color: #555 ;
  padding-top: 5px;
  text-align: center;
  font-family: 'Droid', sans-serif;
}

.news-title {
  font-size: 17px ;
  text-align: center;
  padding-top: 10px ;
  margin-bottom: -20px;
  font-family: 'Droid', sans-serif;

}

.brf-text {
  font-size: 15px;
  text-align: center;
  padding: 15px;
  font-family: 'Droid', sans-serif;
}

.my-col-33 {
  float: left;
  width: 33%;
  height: 190px;
  padding-bottom: 20px !important;
  padding-left: -20px;
}

.my-col-50 {
  float: left;
  width: 50%;
  height: 130px;
  padding-bottom: 10px !important;
  margin-top: 50px;
  padding-left: 10px;
}

.company-color {
    background-color: #23c1a0;
    color: white;
 }

ion-content {
background:url('../img/exterior_skymning.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        height: 700px;
        filter: blur(2px);
        filter: saturate(50%);
        -webkit-filter: saturate(50%);
        -moz-filter: saturate(50%);
        -o-filter: saturate(50%);
        -ms-filter: saturate(50%);
        background-attachment: fixed;
}

.card-contact {
  opacity: 0.8;
  width: 70%;
  height: 65%;
  margin-left: auto;
  margin-right: auto;
}

.help-request {
  background: #fff;
}

.book {
  background: #fff;
  color: #000;
}

.booked {
  padding-top: 5px;
  padding-bottom: 8px;
  background-color: #999;
  color: #D6D6D6;
  text-align: center;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
  box-shadow: inset 1px 1px 4px #555;
}

.bookedmax {
  padding-top: 5px;
  padding-bottom: 8px;
  background-color: #D0CFCF;
  color: #fff;
  text-align: center;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  margin-top: 12px !important;
  margin-bottom: 12px !important
  box-shadow: inset 1px 1px 4px #555;
}

.unbooked {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #23c1a0;
  text-align: center;
  color: #fff;
  width: 88%;
  border-radius: 6px;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
  box-shadow: 2px 2px 4px #333;
}


.availble {
  color: #fff;
  font-weight: bold;
  margin-bottom: -8px !important;
}

.unavailble {
  color: #D6D6D6;
  margin-bottom: 1px !important;
}

.unavailblemax {
  color: #fff;
  margin-bottom: 1px !important;
}

.bobe {
  color: #fff;
  font-weight: bold;
  margin-bottom: 2px !important;
}

.desc {
  color: #fff;
  text-align: center;
}

.button.button-block, .button.button-full {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px;
}



h5 {
  color: #fff;
}

h3 {
  font-family: 'Droid', sans-serif;
}

.input-label {
  font-family: 'Droid', sans-serif;
}

.cards {
  background: linear-gradient(to bottom, #fff, #fff, #fff, #fff, #fff);
  border: 4px;
  border-style: solid;
  border-width: 3px;
  border-color: #999;
  border-radius: 6px;
  box-shadow: 2px 2px 4px #333;
  vertical-align: top;
  margin-bottom: 10px !important;
}

.faci {
  margin-top: 10px;
  padding-left: 5px;
  margin-bottom: -8px;
  height: 65px;
}

.space {
  height: 260px;
}

.faci2 {
  margin-top: 15px;
  padding-left: 5px;
  margin-bottom: 2px;
  height: 65px;
}

.pil {
  height: 24px;
}

.back {
  width: 100%;
  position: relative;
  top: 5px;
  left: -90px;
}

.signout {
  width: 100%;
  position: relative;
  top: 5px;
  left: 90px;
  color: #fff;
  font-weight: bold;
  opacity: 0.6;
}

.back2 {
  width: 100%;
  position: relative;
  top: 5px;
  left: -160px;
  z-index: 1255;
}

.title-image2 {
  height: 25px;
  position: relative;
  left: -25px;
}

.title-image3 {
  height: 25px;
  position: relative;
  left: 15px;
}

.coli {
  align-items: center;
}


.close {
  height: 24px;
}

.doughnut {
  color: #23c1a0;
}

.message {
  color: #666;
  background-color:rgba(255,255,255,0.4);
}

.tag {
    width:20px;
    height:20px;
    border-radius:50px;
    border-style: solid;
    border-width: 2px;
    border-color: #EAEAEA;
    font-size:16px;
    color:#fff;
    line-height:10px;
    text-align:center;
    background: red;
    position: fixed;
    margin-top: -8px;
    margin-left: 4px;
    box-shadow: 1px 1px 3px #666;
}

.bookcount {
  color: #fff;
  margin-top: 1px;
}

.item-text-wrap{
  align-items: center;
}
